.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#2a00b7, #42006c);
    padding: 20px;
  }
  
  .about-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-header h1 {
    color: #fff; /* Purple color */
    font-size: 3rem;
    margin: 0;
  }
  
  .about-content {
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .about-content p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  .carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  .carousel-image {
    width: 100%;
    border-radius: 8px;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .carousel-button.left {
    left: 10px;
  }
  
  .carousel-button.right {
    right: 10px;
  }
  
  .carousel-button:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  