/* Home.css */
.home-container {
    position: flex;
    width: flex ;
    height: flex;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .home-content {
    position: flex;
    z-index: 1;
    background: #fff;
    padding: 2rem 4rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 350px;
  }
  
  .home-content h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #3c009d;
  }
  
  .home-content p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #666;
  }
  
  .cta-button {
    background-color: #3c009d;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #b404b4;
  }
  