.navbar{
    display: flex;
    width: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 7%;
}

.logo{

  width: 110px;
  cursor: pointer;
}

.ul{
  flex: 1;
  list-style: none;
  text-align: center;
}
ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.search-box{
  display: flex;
  align-self: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input{
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
}

.search-box input::placeholder{
  color: #fff;
}

.search-box img{
  width: flex;
  cursor: pointer;
}

.navbar li {
  list-style: none;
  margin: 0 15px;
}

.navbar li a {
  text-decoration: none;
  color: #3c009d; /* Medium gray color */
  font-size: 18px;
  padding: 10px 20px;
  border: 3px solid #3c009d; /* Border around the buttons */
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.navbar li a:hover {
  background-color: #b404b4; /* Blue background on hover */
  color: #fff; /* White text on hover */
  border-color: #b404b4; /* Blue border on hover */
}

.navbar li a:active {
  background-color: #0056b3; /* Darker blue on active */
  color: #fff; /* White text on active */
  border-color: #0056b3; /* Darker blue border on active */
}